<main>
    <div class="post-header">
        <div class="flex-container">
            <div class="avatar-box" (click)='parseURL(post.author)'>
                <img [src]="profilePic[j]" alt="Anonymous avatar">
            </div>
            <span (click)='parseURL(post.author)' class="publisher-name">{{ post.author }}</span>
        </div>
        <p class="post-content">{{ post.post }}</p>
        <div class="post-media-box">
            <div class="post-img" *ngIf="post.img!=''">
                <img src="{{ post.img }}">
            </div>
        </div>
        <div *ngIf="post.comments.length > 0" class="comment-number">
            <span (click)="onCommentToggle()" class="comments-amount">
                {{ post.comments.length }} Comment<span *ngIf="post.comments.length > 1">s</span></span>    
        </div>
    </div>
    <div class="comment-like-btn-box" [ngClass]="insertComment? 'comment-like-btn-box' : 'no-border'">
        <div (click)="onLike($event)" [ngClass]="!like ? 'like-btn-box' : 'unlike-btn-box'" class="like-btn-box" id="like-box">
            <i [ngClass]="!like ? 'far fa-thumbs-up' : 'hide'" class="far fa-thumbs-up"></i><i id="like-icon" [ngClass]="!like ? 'hide' : 'fas fa-thumbs-up'" class="fas fa-thumbs-up filled-like"></i>
            <p>Like</p>
        </div>
        <div class="comment-btn-box" (click)="onCommentToggle()">
            <i class="far fa-comment-alt"></i>
            <p>Comment</p>
        </div>    
    </div>
        <div *ngIf="insertComment">
            <div class="comment-display-box">
                <div *ngFor="let com of post.comments; let i = index" >
                    <div class="comment-main-box">
                        <div class="avatar-box" (click)='parseURL(com.publisher)'>
                            <img [src]="com.avatar" alt="Anonymous avatar">
                        </div>
                        <div class="comment-text-box">
                            <p class="comment-user"> <a (click)='parseURL(com.publisher)'>{{ com.publisher }}</a></p>
                            <p class="comment-content">{{ com.message }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container new-comment">
                <div class="avatar-box">
                    <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
                </div>
                <input (keypress)="newComment($event)" type="text" id="inputUser" placeholder="Write a comment..." #postComment attr.data-n="{{ post.id }}">
                <!-- <button (click)="newComment($event)">Comment</button> -->
            </div>
        </div>
</main>

