<main>
    <div class="post-header">
        <div class="flex-container">
            <div class="avatar-box">
                <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
            </div>
            <span class="publisher-name">{{ currentUser.firstname }}</span>
        </div>
        <p class="post-content">{{ post.post }}</p>
    </div>
    <div class="comment-btn-box">
        <i class="far fa-comment-alt"></i>
        <p>Comment</p>
    </div>
    <div class="comment-display-box">
        <div *ngFor="let com of post.comments" >
            <div class="comment-main-box">
                <div class="avatar-box">
                    <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
                </div>
                <div class="comment-text-box">
                    <p class="comment-user">{{ currentUser.firstname }} {{ currentUser.surname }}</p>
                    <p class="comment-content">{{ com }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-container">
        <div class="avatar-box">
            <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
        </div>
        <input (keypress)="newComment($event)" type="text" id="inputUser" placeholder="What's on your mind?" #postComment attr.data-n="{{ post.id }}">
        <!-- <button (click)="newComment($event)">Comment</button> -->
    </div>
</main>

