@import "../../../styles.scss";

.header {
    background: white;
    height: 60px;
    margin: 0 auto;
    padding: 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #050505;
    box-shadow: $main-shadow;
    position: absolute;
    top: 0;
    z-index: 1; 
    p {
        font-size: 13px;
    }
    .p361ku9c {
        fill: white;
    }
    .home {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid $main-blue;
    }
    .dropdown-box {
        height: 40px;
        width: 40px;
        background-color: #E4E6EB;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        cursor: pointer;
    }
}

.aaxa7vy3 {
    fill: $main-blue;
}

.em6zcovv {
    fill: $main-dark-gray;
}

.home-container {
    display: none;
}

.header-box {
    display: flex;
}

.logo-box {
    width: 100%;
    display: flex;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-dark-gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    background-color: #E4E6EB;
    border: none;
}

.results-box {
    height: auto;
    width: 245px;
    position: absolute;
    left: 67px;
    top: 60px;
    @include card;
}

.results-drop {
    .name-and-avatar{
        height: auto;
    }
}

#search {
    display: none;
}

.menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-dark-gray;
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

.inactive-home, .home {
    margin: 8px;
    height: calc(100% - 8px);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inactive-home:hover {
        background-color: $hover-gray;
        border-radius: 8px;
        transition: ease-in-out .2s;
    }

.show-drop {
    @include card;
    height: 160px;
    width: 200px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 55px;
    right: 20px;
    box-shadow:0 12px 28px 0 rgba(0,0,0,0.2) ,0 2px 4px 0 rgba(0,0,0,0.1),inset 0 0 0 1px rgba(255,255,255,0.5);
}
    
.hide-drop {
    display: none;
}

.drop-active {
    color: #0073F5;
    background-color: #E7F3FF!important;
}


.main-drop {
    .name-and-avatar{
        margin-top: 32px;
        margin-right: 0;
        padding-bottom: 40px;
        border-radius: 0;
        border-bottom: 1px solid #CED0D4;
    }
    h5 {
        margin-left: 8px;
        cursor: pointer;
        color: $text-color;
        font-size: 15px;
    }
}

.profile-link {
    display: none !important;
}

.name-and-avatar {
    display: flex;
    align-items: center;
    margin-right: 8px;
    height: 36px;
    border-radius: 50px;
    padding: 6px;
    cursor: pointer;
    .username {
        color: $text-color;
        text-decoration: none;
        padding: 0 6px 0 2px;
        font-size: 15px;
    }
    .avatar-box {
        height: 50px;
        width: 50px;
        margin-right: 5px;
        img {
            width: 100%;
            border-radius: 50%;        
        }
    }
    
}

.username-drop-box {
    display: flex;
    flex-direction: column;
    span {
        font-size: 15px;
        color: $main-dark-gray;
    }
    b {
        font-size: 17px;
    }
}

.logout-box {
    display: flex;
    align-items: center;
    margin-left: 8px;
    .logout-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E4E6EB;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        i {
            font-size: 18px;
        }
    }
}

.show-create-drop {
    width: 222px;
    height: 128px;
    padding: 7px;
    h3 {
        font-size: 24px;
        margin: 8px 0px 12px 8px;
    }
}

.create-drop-box {
    .username-drop-box{
        margin-left: 8px;
        width: 140px;
        p {
            margin: 0;
            font-size: 15px;
        }
        span {
            font-size: 13px;
        }
    }
}

.logo-search-box {
    position: relative;
    width: 45%;
}

@media screen and (min-width: 768px){
    .header {
        padding: 0px 20px;
        position: fixed;
        top: 0;
        left: 0;
        .fa-facebook {
            font-size: 25px;
        }
        .header-box {
            display: flex;
            width: 22%;
            justify-content: flex-end;
            align-items: center;
            
            .name-and-avatar {
                display: flex;
                align-items: center;
                margin-right: 8px;
                height: 36px;
                border-radius: 50px;
                padding: 6px;
                cursor: pointer;
                .username {
                    color: $text-color;
                    text-decoration: none;
                    padding: 0 6px 0 2px;
                    font-size: 15px;
                }
                img {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
        }
    }

    .menu-box {
        display: none;
    }

    #search {
        border-radius: 50px;
        border: none;
        display: flex;
        width: 100%;
        background-color: #F0F2F5;
        min-height: 40px;
        padding-left: 12px;
        overflow-y: hidden;
        margin-left: 10px;
    
    }

    .search-box {
        display: none;
    }

    .name-and-avatar:hover {
        background-color: $hover-gray;
        transition: ease-in-out .2s;
    }

    .name-and-avatar-active {
        background-color: #E5F3FF;
        a {
            color: #3D7AD7 !important;
        }
    }

    .name-and-avatar-active:hover {
        background-color: #DBE7F2;
        transition: ease-in-out .2s;
    }

    .home-container {
        width: 53%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

