@import "../../../styles.scss";

.header {
    background: white;
    height: 44px;
    margin: 0 auto;
    padding: 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #050505;
    height: 9vh;
    box-shadow: $main-shadow;
    position: fixed;
    z-index: 1; 
    p {
        font-size: 13px;
    }
    .p361ku9c {
        fill: white;
    }
    .home {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid $main-blue;
    }
    .dropdown-box {
        height: 40px;
        width: 40px;
        background-color: #E4E6EB;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
    }
}

.aaxa7vy3 {
    fill: $main-blue;
}

.em6zcovv {
    fill: $main-dark-gray;
}

.home-container {
    width: 53%;
    max-width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box {
    width: 30%;
    max-width: 350px;
    display: flex;
}

#search {
    border-radius: 50px;
    border: none;
    width: 100%;
    background-color: #F0F2F5;
    min-height: 40px;
    padding-left: 12px;
    overflow-y: hidden;
    margin-left: 10px;

}

.inactive-home, .home {
    margin: 8px;
    height: calc(100% - 8px);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inactive-home:hover {
        background-color: $hover-gray;
        border-radius: 8px;

    }


@media screen and (min-width: 768px){
    .header {
        padding: 0px 20px;
        height: 9vh;
        .fa-facebook {
            font-size: 25px;
        }
        .header-box {
            display: flex;
            width: 200px;
            justify-content: flex-end;
            align-items: center;
            
            .name-and-avatar {
                display: flex;
                align-items: center;
                margin-right: 8px;
                height: 36px;
                border-radius: 50px;
                padding: 6px;
                cursor: pointer;
                .username {
                    color: $text-color;
                    text-decoration: none;
                    padding: 0 6px 0 2px;
                    font-size: 15px;
                }
                img {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
        }
    }

    .name-and-avatar:hover {
        background-color: $hover-gray;
    }

    .name-and-avatar-active {
        background-color: #E5F3FF;
        a {
            color: #3D7AD7 !important;
        }
    }

    .name-and-avatar-active:hover {
        background-color: #DBE7F2;
    }
}

