<div class="header">
    <i class="fab fa-facebook"></i>
    <div class="header-box">
        <div class="name-and-avatar" >
            <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
            <a class="username" [routerLink]="['/profile', currentUser.firstname + '.' + currentUser.surname]">{{ currentUser.firstname }}</a>
        </div>
        <div class="home" (click)="navHome()">Home</div>
        <div class="dropdown box">
            <i class="fas fa-caret-down"></i>
        </div>
    </div>  
</div>