<div class="login-nav-box">
    <div class="login-logo-box">
        <img src="../assets/facebook-logo-white.png">
    </div>
    <div class="login-form-box">
        <form class="login-form" (ngSubmit)="onSubmit(formLogin)" #formLogin="ngForm">
            <label>Email</label>
            <input type="email" id="email-login" ngModel required name="email">
            <label>Password</label>
            <input type="password" id="password-login" ngModel required name="password">
            <button>Log In</button>
        </form>
    </div>
</div>
