<app-header></app-header>
<div class="friends-mobile-container">
    <div *ngIf="!next">
        <div class="header">
            <span>Friend Requests</span>
            <p (click)="nextPage()">Next</p>
        </div>
        <p id="subtitle">{{ usersArray.users[1].firstname }} and {{ usersArray.users[0].firstname }} want to be your friends on facemock.</p>
        <div class="friends-box">
            <div class="request-box">
                <div class="avatar-box">
                    <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
                </div>
                <div class="friend-details">
                    <span>{{ usersArray.users[1].firstname }} {{ usersArray.users[1].surname }}</span><br>
                    <span>{{ usersArray.users[1].school }}</span>
                    <div class="btn-box">
                        <button class="btn btn-confirm" (click)="addFriend()">Confirm</button>
                        <button class="btn btn-delete">Delete</button>
                    </div>
                </div>
            </div>
            <div class="request-box">
                <div class="avatar-box">
                    <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
                </div>
                <div class="friend-details">
                    <span>{{ usersArray.users[0].firstname }} {{ usersArray.users[0].surname }}</span><br>
                    <span>{{ usersArray.users[0].school }}</span>
                    <div class="btn-box">
                        <button class="btn btn-confirm" (click)="addFriend()">Confirm</button>
                        <button class="btn btn-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div *ngIf="next" class="mobile-add-friends">
        <div class="header">
            <span>Add Friends</span>
            <p (click)="onSkip()">Skip</p>
        </div>
        <div class="title">
            <p>Add your friends</p>
            <span>Choose the people you want to add as friends on Facemock</span>
        </div>
        <div *ngFor="let friend of usersArray.users; let i" class="suggestions">
            <div *ngIf="friend.request" class="suggestions-if">
                <div class="avatar-box">
                    <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
                </div>
                <div class="name-box">
                    <p>{{ friend.firstname }} {{ friend.surname }}</p>
                    <div class="checkbox">
                        <input type="checkbox" id="checkbox" checked="checked">
                        <label for="checkbox"></label>
                    </div>
                </div>
            </div>           
        </div>
        <div class="btn-container">
            <button>Add friends</button>
        </div>
    </div>
</div>
<div class="friends-desktop-container">
    <section>
        <div class="desktop-main-box">
            <div class="btn-next-box">
                <button (click)="navHome()" class="btn btn-next">Next</button>
            </div>
            <div class="title-box">
                <h3>Add Friends</h3>
                <span>Select your friends from the list below.</span>    
            </div>
            <div class="friends-and-people">
                <h4>Friend requests</h4>
                <div class="friends">
                    <div *ngFor="let friend of requestsArray; let i" class="ngfordiv">
                        <div class="requests">
                            <div class="requests-if">
                                <div class="name-and-pic">
                                    <div class="avatar-box">
                                        <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
                                    </div>
                                    <div class="name-box">
                                        <p><b>{{ friend.firstname }} {{ friend.surname }}</b> wants to be your friend.</p>
                                    </div>
                                </div>   
                                <div class="btn-box">
                                    <button class="btn btn-confirm" (click)="addFriend(friend)">Confirm</button>
                                    <button class="btn btn-delete">Delete Request</button>
                                </div>
                            </div>  
                        </div>
                </div>
                </div>
                <h4>People you may know</h4>
                <div class="people">
                    <div *ngFor="let friend of othersArray; let i" class="ngfordiv">
                        <div class="requests">
                            <div class="requests-if">
                                <div class="name-and-pic">
                                    <div class="avatar-box">
                                        <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
                                    </div>
                                    <div class="name-box">
                                        <p><b>{{ friend.firstname }} {{ friend.surname }}</b> is someone you may know.</p>
                                    </div>
                                </div>   
                                <div class="btn-box">
                                    <button class="btn btn-confirm">Add Friend</button>
                                    <button class="btn btn-delete">Remove</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </section>
</div>
