<app-header></app-header>
<div class="friends-mobile-container">
    <div>
        <div class="header">
            <span>Friend Requests</span>
            <p (click)="nextPage()">Next</p>
        </div>
        <p id="subtitle"> These people want to be your friends on facemock.</p>
        <div *ngFor="let friend of usersArray.users; let i = index" id="data{{ i }}">
            <div *ngIf="!friend.request">
                <div class="friends-box">
                    <div class="request-box">
                        <div class="avatar-box">
                            <img src="../assets/{{ friend.firstname }}{{ friend.surname }}/profile.jpg" alt="Anonymous avatar">
                        </div>
                        <div class="friend-details">
                            <span>{{ friend.firstname }} {{ friend.surname }}</span><br>
                            <span>{{ friend.school }}</span>
                            <div class="btn-box">
                                <button class="btn btn-confirm" (click)="confirmFriend(friend, 'mbl', i)">Confirm</button>
                                <button class="btn btn-delete" (click)="deleteRequest(i)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="mobile-add-friends">
        <div class="title">
            <p>Add your friends</p>
            <span>Choose the people you want to add as friends on Facemock</span>
        </div>
        <div *ngFor="let friend of usersArray.users; let j = index" class="suggestions">
            <div *ngIf="friend.request" class="suggestions-if">
                <div class="avatar-box">
                    <img src="../assets/{{ friend.firstname }}{{ friend.surname }}/profile.jpg" alt="Anonymous avatar">
                </div>
                <div class="name-box">
                    <p>{{ friend.firstname }} {{ friend.surname }}</p>
                    <div class="checkbox">
                        <input type="checkbox" class="inputs" id="checkbox{{j}}" checked="checked" (click)="onToggleCheckbox(j)">
                        <label for="checkbox"></label>
                    </div>
                </div>
            </div>           
        </div>
        <div class="btn-container">
            <button (click)="addFriendsMbl()">Add friends</button>
        </div>
    </div>
</div>
<div class="friends-desktop-container">
    <section>
        <div class="desktop-main-box">
            <div class="btn-next-box">
                <button (click)="navHome()" class="btn btn-next">Next</button>
            </div>
            <div class="title-box">
                <h3>Add Friends</h3>
                <span>Select your friends from the list below.</span>    
            </div>
            <div class="friends-and-people">
                <h4>Friend requests</h4>
                <div class="friends">
                    <div *ngFor="let friend of requestsArray; let i = index" class="ngfordiv" id="data{{ i }}">
                        <div class="requests">
                            <div class="requests-if">
                                <div class="name-and-pic">
                                    <div class="avatar-box">
                                        <img src="../assets/{{ friend.firstname }}{{ friend.surname }}/profile.jpg" alt="Anonymous avatar">
                                    </div>
                                    <div class="name-box">
                                            <p><b>{{ friend.firstname }} {{ friend.surname }}</b></p>
                                            <div *ngIf="friend.isFriend == false">wants to be your friend.</div>
                                            <div *ngIf="friend.isFriend == true">and you are now friends.</div>
                                    </div>
                                </div>
                                <div *ngIf="friend.isFriend == false">
                                    <div class="btn-box">
                                        <button class="btn btn-confirm" (click)="confirmFriend(friend)">Confirm</button>
                                        <button class="btn btn-delete" (click)="deleteRequest(i)">Delete Request</button>
                                    </div>    
                                </div>   
                            </div>  
                        </div>
                    </div>
                </div>
                <h4>People you may know</h4>
                <div class="people">
                    <div *ngFor="let friend of othersArray; let i = index" class="ngfordiv" id="req{{ i }}">
                        <div class="requests">
                            <div class="requests-if">
                                <div class="name-and-pic">
                                    <div class="avatar-box">
                                        <img src="../assets/{{ friend.firstname }}{{ friend.surname }}/profile.jpg" alt="Anonymous avatar">
                                    </div>
                                    <div class="name-box">
                                        <p><b>{{ friend.firstname }} {{ friend.surname }}</b></p>
                                        <div *ngIf="friend.isFriend == false"> is someone you may know.</div>
                                        <div *ngIf="friend.isFriend == true"> has received your friend request.</div>
                                    </div>
                                </div>
                                <div *ngIf="friend.isFriend == false">
                                    <div class="btn-box">
                                        <button class="btn btn-confirm" (click)="confirmFriend(friend)">Add Friend</button>
                                        <button class="btn btn-delete" (click)="removeRequest(i)">Remove</button>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>