<app-header></app-header>
<main>
    <div class="main-container">
        <div class="col col-1 scroll">
            <div class="col-box-1">
                <div class="name-and-avatar" [routerLink]="['/profile', currentUser.firstname + '.' + currentUser.surname]">
                    <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
                    <a class="username" >{{ currentUser.firstname }} {{ currentUser.surname }}</a>
                </div>
                <div class="name-and-avatar">
                    <img id="friends-img" src="../../assets/iconfriends.png" alt="friends icon">
                    <a class="username" >Friends</a>
                </div>    
            </div>
        </div>
        <div class="col-2 col">
            <div class="col-2-pre">
                <app-create-post (comment)="onComment($event)"></app-create-post>
            </div>
            <div class="col-main">
                <div class="col-box-2">
                    <app-create-post (comment)="onComment($event)"></app-create-post>
                    <div class="posts-container scroll"> 
                        <div *ngFor="let post of userComment; let j = index" >
                            <app-post-tile [userComment]="userComment" [post]='post' [j]="j"></app-post-tile>
                        </div>        
                    </div>
                </div>
            </div>    
        </div>
        <div class="col col-3 scroll">
            <div class="col-box-3">
                <p>Contacts</p>
                <div *ngFor="let contact of usersList.users; let i = index">
                    <div *ngIf="currentUser.friends.includes(contact.firstname + ' ' + contact.surname)">
                        <div class="name-and-avatar" [routerLink]="['/profile', contact.firstname + '.' + contact.surname]">
                            <img [src]="profilePic[i]" alt="Anonymous avatar">
                            <div>{{ contact.firstname }} {{ contact.surname }}</div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</main>
