<div class="header">
    <i (click)='goBack()' class="fas fa-chevron-left"></i>
    <p>Join Facemock</p>
</div>
<div class="page-container">
    <form class="sign-up-m-form" [formGroup]="signupFormMbl" (ngSubmit)="onSubmit()" >
        <div class="section section-first" data-id="0">
            <h3 class="heading">What's your name?</h3>
            <p class="subheading">Enter the name you use in real life.</p>
            <div>
                <div class="sign-up-m-form">
                    <div class="firstname-container">
                        <label for="firstname">First name</label>
                        <input class="input-names" type="text" name="firstname" id="firstname" formControlName="firstname">    
                    </div>
                    <div class="surname-container">
                        <label for="surname">Surname</label>
                        <input class="input-names" type="text" name="surname" id="surname" formControlName="surname">    
                    </div>
                </div>    
            </div>
        </div>
        <div class="section" data-id="1">
            <h3 class="heading">What's your date of birth?</h3>
            <p class="subheading">Choose your date of birth. You can always make this private later.</p>
            <span>Date of birth</span><br>
                <div>
                    <div class="date-box">
                        <select class="date-input" id="day" name="day" formControlName="day">
                            <option class="select-input" value="day" disabled >Day</option>
                            <option class="select-input" value="{{ day }}" *ngFor="let day of days">{{ day }}</option>
                        </select>
                        <select class="date-input" id="month" name="month" formControlName="month">
                            <option class="select-input" value="month" disabled >Month</option>
                            <option class="select-input" value="{{ month }}" *ngFor="let month of months">{{ month }}</option>
                        </select>
                        <select class="date-input" id="year" name="year" formControlName="year">
                            <option class="select-input" value="year" disabled >Year</option>
                            <option class="select-input" value="{{ year }}" *ngFor="let year of years">{{ year }}</option>
                        </select><br>
                    </div>    
                </div>
        </div>
        <div class="section" data-id="2">
            <h3 class="heading">What's your gender?</h3>
            <p class="subheading">You can change who sees your gender on your profile later.</p>
            <div class="gender-box">
                <div *ngFor="let gender of genders" class="gender-input radio-input">
                    <label>{{ gender }}</label>
                    <input class="radio-gender" (change)="onGenderChange($event)" type="radio" name="gender" formControlName="gender" [value]='gender'> 
                </div>
                <div class="gender-input radio-input">
                    <label>Custom</label>
                    <input #customInput type="radio" 
                        name="gender" (change)="onGenderChange($event)" class="radio-gender" formControlName="gender" value='custom'>    
                </div>
                <p class="pronoun-title" *ngIf='!displayGender'>Select Custom to choose another gender, or if you'd rather not say</p>
                <div *ngIf='displayGender'>
                    <p class="pronoun-title">Your pronoun is visible to everyone</p>
                    <select class="custom-input" id="pronoun" name="pronoun" formControlName="pronoun" >
                        <option value="pronoun" disabled >Select your pronoun</option>
                        <option value="{{ pronoun.subject }}" *ngFor="let pronoun of pronouns">
                            {{ pronoun.subject }}: "Wish {{ pronoun.object }} a happy birthday!"</option>
                    </select><br>
                    <input class="custom-input" type="text" id="custom-gender" name="custom-gender" placeholder="Gender (optional)" formControlName="customGender"><br>
                </div>    
            </div>
        </div>
        <div class="section" data-id="3">
            <h3 class="heading">What's your email address?</h3>
            <p class="subheading">Enter the email address at which you can be contacted. You can hide this from your profile later.</p>
                <div class="email-container">
                    <label for="email">Email address</label>
                    <input class="email-input" type="email" name="email" id="email" formControlName="email">    
                </div>
        </div>
        <div class="section" data-id="4">
            <h3 class="heading">What do you want your password to be?</h3>
            <p class="subheading">Create a password with at least 6 characters. It should be something that others couldn't guess.</p>
                <div class="email-container">
                    <label for="email">New password</label>
                    <input class="pass-input" type="password" name="password" id="password" formControlName="password">    
                </div>
        </div>
    </form>
    <div *ngIf="!submitOk" class="btn-box">
        <button (click)='onNextReg()'>Next</button>
    </div>
    <div *ngIf="submitOk" class="btn-box">
        <button (click)='onNextReg()'>Sign Up</button> 
    </div>
    <a routerLink="/"><span>Already have an account?</span></a>  
</div>
<app-footer></app-footer>
