<div class="header">
    <p>Join Facemock</p>
</div>
<div class="page-container">
    <h3>What's your name?</h3>
    <p>Enter the name you use in real life.</p>
    <form class="sign-up-m-form">
        <div class="firstname-container">
            <label for="firstname">First name</label>
            <input type="text" name="firstname" id="firstname">    
        </div>
        <div class="surname-container">
            <label for="surname">Surname</label>
            <input type="text" name="surname" id="surname">    
        </div>
    </form>
    <div class="btn-box">
        <button>Next</button>
    </div>
    <a routerLink="/"><span>Already have an account?</span></a>  
</div>
<app-footer></app-footer>
