.page-container {
    height: 70vh;
}

.header {
    color: white;
    background-color: #1A77F2;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
        font-size: 16px;
    }
}

.sign-up-m-form {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    .firstname-container {
        display: flex;
        flex-direction: column;
        width: 45%;
        input {
            height: 36px;
        }
    }
    .surname-container {
        display: flex;
        flex-direction: column;
        width: 45%;
        input {
            height: 36px;
        }
    }
}

.subheading {
    text-align: center;
    font-size: 15px;
    padding: 0 15px;
}

.heading {
    text-align: center;
    margin-top: 12px;
}

.date-box {
    padding: 0px 15px;
    select {
        height: 35px;
        margin: 12px 12px 12px 0px;
        padding: 6px;
        font-size: 16px;
    }
}

.btn-box {
    padding: 20px 80px;
    button {
        color: white;
        background-color: #1A77F2;
        border: none;
        border-radius: 3px;
        height: 32px;
        width: 100%;
    }
}

span {
    font-size: 14px;
    margin-left: 16px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}





