<div class="profile-main-box">
    <app-header></app-header>
    <div class="profile-header">
        <div class="cover-box">
            <div class="cover-pic">
                <img [src]="coverPic" alt="">
            </div>
            <div class="profile-box">
                <div class="profile-pic-content">
                    <div class="profile-pic">
                        <img [src]="profilePic">
                    </div>
                    <div class="icon-profile-box" >
                        <input data-id="profile" type="file" class="icon-profile-box input-upload" (change)="showPreview($event)" >
                        <i class="fas fa-camera"></i>
                    </div> 
                </div>
            </div>
            <div class="edit-cover-box">
                <input data-id="cover" type="file" class="icon-profile-box input-cover" (change)="showPreview($event)" id="cover-input">
                <i class="fas fa-camera"></i>
                <span>Edit Cover Photo</span>
            </div>
        </div>
        <div class="profile-bio-box">
            <h2>{{ curProfile.firstname }} {{ curProfile.surname }}</h2>
            <p><a>Add Bio</a></p>    
        </div>
    </div>
    <main>
        <div class="main-container">
            <div class="col col-1 scroll">
                <div class="bio">
                    <div class="intro-box main-tile">
                    <h3>Intro</h3>
                        <div class="icon-title-box">
                            <div class="icon-box">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <h6>Works at {{ curProfile.work }}</h6>
                        </div>
                        <div class="icon-title-box">
                            <div class="icon-box">
                                <i class="fas fa-graduation-cap"></i>
                            </div>
                            <h6>Went to {{ curProfile.school }}</h6>
                        </div>
                        <div class="icon-title-box">
                            <div class="icon-box">
                                <i class="fas fa-home"></i>
                            </div>
                            <h6>Lives in <b>{{ curProfile.currentCity }}</b></h6>
                        </div>
                        <div class="icon-title-box">
                            <div class="icon-box">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <h6>From <b>{{ curProfile.birthplace }}</b></h6>
                        </div>
                        <div class="icon-title-box">
                            <div class="icon-box">
                                <i class="fas fa-heart"></i>
                            </div>
                            <h6>{{ curProfile.relationship }}</h6>
                        </div>
                    </div>
                </div>
                <div class="friends main-tile">
                    <h3>Friends</h3>
                    <p>{{ curProfile.friends.length }}</p>
                    <div class="friends-grid">
                        <div *ngFor="let contact of usersList.users">
                            <div *ngIf="currentUser.friends.includes(contact.firstname + ' ' + contact.surname)">
                                <div class="name-and-avatar" >
                                    <div class="img-box">
                                        <img src="../assets/avatar-anonym.jpg" alt="Anonymous avatar">
                                    </div>
                                    <div class="friend-name">{{ contact.firstname }} {{ contact.surname }}</div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
                <div class="create-box-mobile">
                    <app-create-post (comment)="onComment($event)"></app-create-post>
                </div>
                <div class="posts-container scroll posts-box-mobile">
                    <div *ngFor="let post of userComment; let j = index" >
                        <div *ngIf="post.author == profileUrl || post.author == currentUser.firstname + ' ' + currentUser.surname">
                            <app-post-tile [userComment]="userComment" [post]='post' [j]="j"></app-post-tile>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="col-2 col">
                <div class="col-2-pre">
                    <app-create-post (comment)="onComment($event)"></app-create-post>
                </div>
                <div class="col-main">
                    <div class="posts-container scroll">
                        <div *ngFor="let post of userComment; let j = index" >
                            <div *ngIf="post.author == profileUrl || post.author == currentUser.firstname + ' ' + currentUser.surname">
                                <app-post-tile [userComment]="userComment" [post]='post' [j]="j"></app-post-tile>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
