body {
    background-color: #F0F2F5;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .logo-box {
        height: 45px;
        width: auto;
        margin-bottom: 25px;
        img {
            height: 100%;
        }
    }
    .main-container {
        align-items: center;
            background-color: #fff;
            border: none;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
            box-sizing: border-box;
            padding: 20px;
            width: 396px;
            display: flex;
            flex-flow: column;
            input {
                background-color: white;
                width: 364px;
                height: 52px;
                border-radius: 6px;
                font-size: 17px;
                padding: 14px 16px;
                margin-bottom: 10px;
                margin-top: 20px;
                border: 1px solid #ccd0d5
            }
            input::placeholder { 
                color: #C1C6CC;
                opacity: 1;
              }
            #email {
                border: 1px solid #f02849;
            }  
            span {
                color: #f02849;
                font-size: 13px;
            }
            button {
                color: white;
                background-color: #1A77F2;
                height: 48px;
                border: none;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 700;
                margin-top: 10px;
                margin-bottom: 20px;
                width: 100%;
                cursor: pointer;
            }
            .title {
                font-size: 18px;
                color: black;
            }
    }
}


